.cardimg {
    width: 333px;
    height: auto;
    position:relative;
    bottom: 65px;
    right: 7px
}
.headertext {
    margin-bottom:1px;
    margin-top: 1px;
    position:relative;
    left: 35px;
    bottom: 35px;
}
.fa-ellipsis-v {
    position:relative;
    left: 311px;
    bottom: 66px
}